@use 'base/mixins' as m;
@use 'base/variables' as v;


  /* Estilos para centrar la barra de navegación y distribuir los elementos horizontalmente */
  .header {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    background-color: v.$light-cream;
    
    &__imagen{
      
        margin-top: 0.3rem;
        width: 9.5rem;
        height: 6.5rem;
        margin-right: 0;
    }

    &__img{
        margin-left: 3rem;
      
        
    }

 
   
    &__contenido{
        display: flex;
        align-items: center;
        position: fixed;
        border-radius: 9rem;
        z-index: 10;
        background-color: v.$blanco;
        width: 95%;
        height: 6rem;
        outline: 1px solid #eae8e4;
        outline-offset: -1px;

       & svg {
        margin-left: 2rem;
        max-width: 7rem;
        max-height: 7rem;

        @include m.desktopmx{
            max-width: 6rem;
            max-height: 6rem;
        }
       }
    
        @include m.desktop {
            width: 90%;
            height: 7.2rem;
            max-width: 130rem;
        }
    }

    &__nav{
        align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    
    }

    &__nav ul{
       
        display: flex;
        list-style-type: none;
        padding: 0rem;

       
      
        
    }
    
    &__nav__txt{
        display: none;
        padding: 1.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.49rem;
        color: v.$kale;
        
        @include m.desktop{
      
        display: block;
        }
    }

    &__boton{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0rem;
        border: none;
        background: none;
        margin-right: 2rem;
        height: 100%;
       
        @include m.desktopmx{
            margin-right: 0rem;
        }
           & svg {
            margin: 0;
            width: 3.3rem;
            height: 3.3rem;
            @include m.desktop{
               
                width: 4.5rem;
                height: 4.5rem;
               }
           }

         &--opciones{
          display: block;
      
           margin-right: 2rem;
          
            
           @include m.desktop{
            display: none;
            
           }
         }
    }

  

}

.hoveredPage{
  font-weight: bold;
   
   
}